*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* -------filterPage------------ */
.filter-banner>img{
    width: 100%;
   

}


/* ------------add to cart -------------*/
.lence-cart {
    display: flex;
    width: 96%;
    margin: auto;
    /* justify-content: center;
      align-items: center ; */
  }
  
  .lence-cart-section {
    display: grid;
    width: 95%;
    margin: auto;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    padding: 5px;
  
  }
  
  .lence-cart-section>div {
    border-radius: 4px;
    transition: transform 0.7s ease 0s;
    object-fit: cover;
    width: 100%;
    border: 1px solid rgb(173, 171, 171);
  }
  
  .lence-cart-section>div>img {
  
    transition: transform 0.7s ease 0s;
    object-fit: cover;
    width: 100%;
    border-radius: 4px;
  }
  
  .lence-cart-details {
    width: 50%;
    padding: 15px;
  }
  
  .lence-cart-details>h5 {
    color: #999999;
    font-weight: 600;
    font-size: 14px;
    padding: 5px;
  }
  
  .lence-cart-details>h4 {
    text-transform: capitalize;
    color: #333;
    font-weight: 600;
    font-size: 16px;
    padding: 5px;
  }
  
  .lence-cart-details>div>span {
    color: #00bac6;
    font-weight: bold;
    font-size: 22px;
  
  }
  
  .lence-cart-details>div>p {
    color: #999999;
    font-weight: 700;
    font-size: 16px;
  
  }
  
  .cEJNnp {
    display: flex;
    flex-flow: wrap;
    white-space: nowrap;
    gap: 4px;
    padding: 0px 4px;
  }
  
  .dVEnwe {
    width: max-content;
    border-radius: 50%;
    box-shadow: 0 1px 2px var(--border), 0 0 0 1.5px var(--border);
    border: 1px solid darkblue;
    padding: 3px;
  
  }
  
  .bDyAKl {
    min-height: 2dvh;
    min-width: 2dvh;
    display: block;
    --primary-color: #000000;
    --secondary-color: #000000;
    position: relative;
    pointer-events: auto;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
    background: url(https://ds-static.lenskart.com/product_color_bubble_images/150157_bubble.png) 0% 0% / cover;
    border: 1.5px solid;
    box-shadow: 0 1px 2px, 0 0 0 1.5px var(--border);
  
  }
  
  .jfGDCb {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
    margin: 2rem;
    gap: 4px;
    background: rgb(247, 241, 222);
  }
  
  .jfGDCb>div {
  
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: rgb(0, 0, 66);
  }
  
  .jfGDCb>div:nth-child(2) {
  
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: rgb(51, 51, 104)
  }
  
  .add-button {
  
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .cgAlpl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    min-width: 100%;
    min-height: 55px;
    padding: 5px;
    background-color: #00bac6;
    border: 1px solid var(--turquoise);
    border-radius: var(--border-radius-xxs);
    cursor: var(--pointer);
    font-family: var(--font-default-book);
    margin-right: auto;
  }
  
  .cgAlpl2 {
    border: 1px solid rgb(207, 206, 206);
    border-radius: 4px;
    padding: 0px 25px 0px 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 13px;
  
    position: relative;
    cursor: var(--pointer);
    font-weight: 600;
    background-color: #fff;
    width: 100%;
    height: 55px;
    min-width: 120px;
  }
  
  
  .cart-img-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cart-img-right>img {
    width: 100%;
  }

  
.main-info {
  margin: 5px 0px 30px 0px;
  background-color: #f6f6f8;
  color: #fff;
  font-size: 13px;
  padding: 2px;

}

.quick-info {
  width: 90%;
  margin: auto;

}

.quick-info>ul {
  display: flex;
  width: 100%;
  margin: auto;
  font-size: 13px;
}

.quick-info>ul>li {
  list-style: none;
  margin: 2px;

}

.quick-info>ul>li>a {

  color: #121314;
  text-decoration: none;
}

.quick-info>ul>li>a>span {
  font-size: 9px;
  padding: 3px;
}

.similar-products-main{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
  /* -----end cart */


  /* ---------cartPage---------- */
  
.lence-bill {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  gap: 3rem;
  padding: 5px;
  /* justify-content: space-between; */
}
.lence-bill>div:nth-child(1) {
  width: 60%;
}
.enEBpN {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cart-remove-button{
  text-align: start;
  border: 0px;
  background-color: #fff;
}
.cart-button{
  border: 0px;
  width: 80%;
  margin: auto;
  
}
.cart-input{
  border: none;
  outline: 0px;
}


.enEBpN>img {
  width: 100%;
   margin: auto;
 }
 
 
 .bFjeHX {
   margin-top: 11px;
   font-family: LKSerif-Normal;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   color: #000042;
 }
 
 .XgzsV {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 20px 0px;
 }
 
 .XgzsV>div {
   position: relative;
 }
 
 .dtjBcJ {
   display: flex;
   flex-direction: row;
   box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
   gap: 16px;
 }
 
 .dtjBcJ>a {
   display: flex;
   flex-flow: column;
   -webkit-box-pack: center;
   justify-content: center;
   margin-top: auto;
   margin-bottom: auto;
   min-width: 236px;
   flex-basis: 46%;
   -webkit-box-align: center;
   align-items: center;
 }
 
 .dtjBcJ>a>img {
   width: 100%;
 }
 
 .ezTXEY {
   display: flex;
   flex-flow: column;
   width: 100%;
   gap: 16px;
  
 }
 .bil-para{
   font-size: 14px;
 }
 
 .eQSjIx {
   display: flex;
   flex-direction: row;
   -webkit-box-pack: justify;
   justify-content: space-between;
   flex-shrink: 0;
   width: 100%;
   gap: 20px;
 }
 
 .lence-indc {
   display: flex;
   flex-flow: column;
   gap: 20px;
   margin-bottom: 24px;
 }
 
 .lence-indc-button {
   box-sizing: border-box;
   display: flex;
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   align-items: center;
   padding: 2px 10px;
   gap: 8.1px;
   background: #fff;
   border: 1px solid rgb(206, 206, 223);
   box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px;
   border-radius: 40px;
   width: fit-content;
 }
 
 .lence-indc-button-gap {
   display: flex;
   -webkit-box-align: center;
   align-items: center;
   width: 100%;
   justify-content: space-evenly;
   gap: 16px;
 }
 
 .lence-bill-details {
   display: flex;
   flex-direction: column;
   gap: 2rem;
 
 }
 
 .lence-bill-details-card {
   box-sizing: border-box;
   padding: 9px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   background-color: #FFFFFF;
   border-radius: 12px;
   display: flex;
   flex-flow: column;
   gap: 2px;
   width: 100%;
 }
 
 .gMDLDI {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 4px 0px;
 }
 
 .dfuMlk {
 
   font-size: 14;
   color: #000042;
 }
 
 .cart-total {
   font-weight: bold;
   font-size: 17;
   color: #000042;
 }
 
 .coupon>div:nth-child(1) {
   font-size: 14px;
   color: #000042;
 }
 
 .coupon>div:nth-child(2) {
   font-weight: 400;
   font-size: 14px;
   color: #66668e;
 }
 
 .bill-button{
   width: 100%;
   background-color: #11DAAC;
   font-weight: 700;
   font-size: 16px;
   color: #060645;
   align-items: center;
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 26px;
   letter-spacing: -0.02em;
   gap: 10px;
   text-transform: capitalize;
   outline: 0px;
   border: 0px;
   border-radius: 9px;
   padding: 11px;
   text-decoration: none;
   cursor: pointer;
 }

  /* --------end CartPage--------- */
  /* -------Shipping start---------- */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shipping-wrapper:before {
    content: '';
    position: absolute;
    background: rgba(10, 9, 9, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.shipping-wrapper {
    background-image: url("../../../public/images/User/userBanner.jpg");
    background-color: #f7f7f7;
    color: #fff;
    padding: 58px 0 55px;
    text-align: center;
    /* background-image: url(../images/shop-category.jpg); */
    background-size: cover;
    background-repeat: repeat-y;
    position: relative;
    background-position: center center;
    background-attachment: scroll;
}

.shipping-wrapper>div>h5 {
    color: #fff;
    font-weight: 500;
    font-size: 29px;
    padding: 0;
    border: none;
    display: block;
    margin: 0;
    position: relative;
}

/* banner bootom */

.main-info {
    margin: 5px 0px 30px 0px;
    background-color: #f6f6f8;
    color: #fff;
    font-size: 13px;
    padding: 2px;

}

.quick-info {
    width: 80%;
    margin: auto;

}

.quick-info>ul {
    display: flex;
    width: 100%;
    margin: auto;
    font-size: 13px;
}

.quick-info>ul>li {
    list-style: none;
    margin: 2px;

}

.quick-info>ul>li>a {

    color: #121314;
    text-decoration: none;
}

.quick-info>ul>li>a>span {
    font-size: 9px;
    padding: 3px;
}

/* Start ProgressBar */

.opc-progress-bar {

    margin-top: 20px;

    margin: 0 0 20px;
    counter-reset: i;
    font-size: 0;
}

.opc-progress-bar .opc-progress-bar-item {
    margin: 0 0 10px;
    width: 380px;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
}

.opc-progress-bar .opc-progress-bar-item._active:before {
    background: #11DAAC;
}

.opc-progress-bar .opc-progress-bar-item:before {
    background: #c2c2c2;
    top: 19px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    content: '';
    height: 7px;
    left: 0;
    position: absolute;
    width: 100%;
}

.opc-progress-bar .opc-progress-bar-item._active>span {
    color: #11DAAC;
}

.opc-progress-bar .opc-progress-bar-item>span {
    display: inline-block;
    padding-top: 45px;
    width: 100%;
    word-wrap: break-word;
    color: #c2c2c2;
    font-size: 16px;
}

.opc-progress-bar .opc-progress-bar-item._active>span:before {
    background: #11DAAC;
}

.opc-progress-bar .opc-progress-bar-item>span:before {
    background: #c2c2c2;
    height: 38px;
    margin-left: -19px;
    width: 38px;
    content: '';
    top: 0;
}

.opc-progress-bar .opc-progress-bar-item>span:after,
.opc-progress-bar .opc-progress-bar-item>span:before {
    left: 50%;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}

.opc-progress-bar .opc-progress-bar-item._active>span:after {
    color: #11DAAC;
}

.opc-progress-bar .opc-progress-bar-item>span:after {
    background: #fff;
    height: 26px;
    margin-left: -13px;
    top: 6px;
    width: 26px;
    content: counter(i);
    counter-increment: i;
    color: #333;
    font-size: 15px;
    line-height: 26px;
    color: #c2c2c2;
}

.checkout-container .authentication-wrapper {
    margin-top: 2px;
    float: right;
    max-width: 50%;
    position: relative;
    z-index: 1;
    border-bottom: 0;
    margin-bottom: 0;
}

.authentication-wrapper .action-auth-toggle {
    font-size: 13px;
    color: #fff;
    border: 1px solid #11DAAC;
    background-color: #11DAAC;
    margin-top: 10px;
    padding: 6px 15px;
    font-weight: 400;
    text-align: center;
    margin-right: 0;
    min-width: 120px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -o-border-radius: 40px;
}


/* end progressBar */

/* Shipping form css */
.shipping-title {
    background: #11DAAC;
    padding: 5px 20px;
    border-radius: 0 5px 0 0;
    position: relative;
    /* margin: -19px -22px 10px; */
    font-size: 19px;
    color: #fff;
    width: 99%;
    margin: auto;
}

.shipping-title::before {
    content: '';
    position: absolute;
    left: -9px;
    top: -9px;
    border: 9px solid transparent;
    border-right-color: #ce9bb4;
    z-index: -1;
    border-right-width: 13px;
}

.main-bill{
  display: flex;
  width: 85%;
  gap: 1rem;
  margin: auto;
}
.main-bill>div:nth-child(2){
  
  width: 30%;
}
.shipping-img {
  
   width: 66%;
  color: rgb(52, 50, 50);
}

/* .registr-img{
    background: url("../../../public/images/Auth/register.jpeg");
} */
.register-form {
    background: #ffffff;
    box-shadow: 2px 6px 100px #e1cece;


}

.register-form>h4 {
    text-align: center;
    font-size: 17px;
    color: #000;
}

.register-form>div {

    font-size: 13px;
    color: black;
    outline: none;
    padding-bottom: 15px;
}

.register-form>div>label>strong {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

.register-form>div>input {
    font-size: 12px;
    font-weight: 400;
    color: rgb(180, 178, 178);
    padding: 9px;
    outline: 0;
    border: 1px solid gray;
    border-radius: 0px;
}

.shipping-next>button {

    outline: 0px !important;
    text-align: center;
    outline: 0px;
    padding: 4px;
    width: 100%;
    background-color: #fff;
    outline: 0px;
    border: 0px;
    transition: all 0.6s ease-in-out;
}

.shipping-next>button:hover {

    color: #fff;
    border: 0px !important;
    outline: 0px !important;
    text-align: center;


}

.shipping-next>button>a {
    background: #11DAAC;
    text-decoration: none;
    border-radius: 22px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding: 7px 45px 7px 45px;
    float: left;

}

.table-shipping {
  
    width: 95%;
    margin: auto;
    color: black;
}
.table-shipping>thead>tr>th{
    color: #2b2b2b;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    border: 1px solid #eaeaea;
    vertical-align: middle;
    padding: 14px 30px 11px;
    border-bottom: none;
}
.table-shipping>tbody>tr>td{
    border: 1px solid #eaeaea;
    padding: 14px 30px 11px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

  /* ----------end shipping--------- */

  /* ---------Filter page--------------- */
  .filters-page{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 1rem;
    
  }
  .filter{
    width: 30%;
  }
  .category-product{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
     text-align: center;
     justify-content: space-around;
    /* grid-template-columns: repeat(auto-fit,minmax(150px, 1fr)) */
  }
  .category-product-body{
    padding: 1rem;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  
  /* ---------end filter page------------- */