* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.homeCardSlider-top {
    text-align: center;
}

.homeCardSlider-top>h1 {
    display: inline-block;
    position: relative;
    color: #000;
    margin-bottom: 2px;
    font-weight: bold;
}

.homeCardSlider-top>h2::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: #000;
    top: 48%;
    left: -75px;
}

.homeCardSlider-top>h2::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: #000;
    top: 48%;
}

.homeCardSlider-top>p {
    font-style: italic;
    font-size: 14px;
    color: #878787;
    margin-top: 5px;
    line-height: 16px;
    letter-spacing: .5px;
}

.homeCardSlider {
    width: 96%;
    margin: auto;
    gap: 2rem;
    padding: 5px;
}

.homeCardSlider>div>a {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    display: block;
    color: #000;
    text-decoration: none;

    align-items: center;
}

.homeCardSlider>div>p {
    color: #000;
    font-size: 14px;
    font-weight: 500;

    text-align: center;
}

.homeCardSlider>img {
    width: 97%;
    margin: auto;

    border-radius: 4px;

}

.viewBtn {

    position: absolute;

    height: 40px;
    width: 120px;
    bottom: 26px;
    left: 7.5rem;
    border: 3px solid #ff6200;
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
    transition: all .3s ease-in-out;
    box-shadow: 0;
    border-radius: 0;
    padding: 0;
    line-height: 36px;
    background-color: #ff6200;
    color: #fff;
}

/* ----- */
.sale-tab-section {

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    align-items: center;
    width: 100%;
    justify-content: center;
}

.sale-tab-section>button {
    border-radius: 10px;
    margin: 15px 10px;
    padding: 10px 30px;
    font-family: ArcaMajora3-Heavy;
    line-height: normal;
    white-space: nowrap;

    color: #fff;
    /* background-color: #282828; */
    border-color: #282828;
    font: 600 14px / 1.35 Montserrat, Helvetica Neue, Verdana, Arial, sans-serif;
}

.sale-tab-button {
    border-radius: 10px;
    margin: 15px 10px;
    padding: 10px 30px;
    font-family: ArcaMajora3-Heavy;
    line-height: normal;
    white-space: nowrap;

    color: #fff;
    background-color: #282828;
    border-color: #282828;
    font: 600 14px / 1.35 Montserrat, Helvetica Neue, Verdana, Arial, sans-serif;
}

.sale-tab-section,
.active {

    background: 0 0;
    color: #282828 !important;
}