* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.circle>div {
    display: grid;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.circle>div>img {
    width: 100%;
    margin: auto;
}