* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.CustomerCardSlider-top {
    text-align: center;
}

.CustomerCardSlider-top>h1 {
    display: inline-block;
    position: relative;
    color: #000;
    margin-bottom: 2px;
    font-weight: bold;
}

.CustomerCardSlider-top>h2::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: #000;
    top: 48%;
    left: -75px;
}

.CustomerCardSlider-top>h2::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: #000;
    top: 48%;
}

.CustomerCardSlider-top>p {
    font-style: italic;
    font-size: 14px;
    color: #878787;
    margin-top: 5px;
    line-height: 16px;
    letter-spacing: .5px;
}

.CustomerCardSlider {
    width: 90%;
    margin: auto;
    gap: 2rem;
    padding: 5px;
}

.CustomerCardSlider>div {
    display: flex;
    width: 50%;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.CustomerCardSlider>div>img {
    width: 13%;
}

.CustomerCardSlider>div>span {
    text-align: center;
    font-size: 11px;
}

.CustomerCardSlider>div>a {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    display: block;
    color: #000;
    text-decoration: none;

    align-items: center;
}

.CustomerCardSlider>p {
    color: #000;
    font-size: 16px;
    font-weight: 200;
    line-height: 25px;
    text-align: center;
}

.CustomerCardSlider>img {
    width: 97%;
    margin: auto;
    border-radius: 4px;

}

.viewBtn {

    position: absolute;

    height: 40px;
    width: 120px;
    bottom: 26px;
    left: 7.5rem;
    border: 3px solid #ff6200;
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
    transition: all .3s ease-in-out;
    box-shadow: 0;
    border-radius: 0;
    padding: 0;
    line-height: 36px;
    background-color: #ff6200;
    color: #fff;
}