* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.fress {
    display: flex;
    width: 99%;
    gap: 5px;
    background-color: #7f7d7d;
    margin: auto;
    margin-top: 2rem;
    /* border: 2px solid green; */
}

.fress>div {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    gap: 5px;
    padding: 11px;
}

.fress>div>img {

    height: auto;
    width: 32px;
    vertical-align: middle;
}

.fress>div>div {
    padding: 4px;
    margin: 0;
    font-size: 15px;
}

.fress>div>div>span:nth-child(1) {
    color: black;
    font-weight: 500;

}

/* media query */
@media only screen and (max-width:800px) {
    .fress {
        display: flex;
        flex-wrap: wrap;
    }


}