* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.peyush {
    display: grid;
    width: 70%;
    margin: auto;
    margin-top: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.peyush>div>img {
    width: 90%;
    object-fit: contain;
}